@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-family: "Manrope", sans-serif;
}

input[type='checkbox'] {
	accent-color: #406D42;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.bg-active {
  background-color: rgba(108, 117, 125, 0.1);
  padding: .3rem 1rem;
  border-radius: 20px;
}